header{
    padding: 70px 0 200px;
    background: url(../image/banner.png);
    color: #fff;
    text-align: center;
}

.navbar{
    margin-bottom: 80px;
}
.navbar-toggler-icon{
    color: #fff;
}
.nav-link{
    color: #fff !important;
    margin-right: 15px;
}

.nav-link:hover{
    color: #ed145b !important;
}

h1{
    font-size: 40px;
}

.bcd{
    width: 200px;
    height: 2px;
    background: #ed145b;
    margin: 40px auto;
}

.btn1{
    margin-top: 70px;
    padding: 15px 50px;
    background: #ed145b;
    border: none;
    border-radius: 40px;
    text-transform: uppercase;
}

.btn1:hover{
    background: #ed145b;
}

.btn2{
    padding: 15px 50px;
    background: #f4f4f4;
    border: none;
    border-radius: 40px;
    text-transform: uppercase;
    color: #000;
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.btn2:hover{
    color: #000;
    background: #f4f4f4;
}

section{
    padding: 70px 0;
}


/*about */
.about{
    background: #f4f4f4;
    position: relative;
}

.about-pos{
    position: absolute;
    bottom: -60px;
    right: 0;
    width: 750px;
}

.about .bcd{
    margin-left: 0;
}

.link{
    color: #ed145b;
    font-size: 18px;
    text-transform: uppercase;
}

.fa-play-circle-o{
    font-size: 22px;
}

.link:hover{
    text-decoration: none;
    color: #ed145b;
}
.service{
    background: #fff;
    text-align: center;
}
.service p{
    margin-bottom: 50px;
    
}
.quote{
   background: url(../image/b2.png) no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff; 
}

.quote p{
    margin: 30px 0;
}
.fa-quote-left, .fa-quote-right{
    font-size: 60px;
    color:  #ed145b;

}

.price{
    background: #f4f4f4 ;
    text-align: center;
}

.text{
    margin-bottom: 50px;
}
.card-header1{
    background: #5a5a5a;
    color: #fff;
    position: relative;
    
}

.card1:hover .card-header1{
    background: #ed145b;
}

.card-header1 p{
    margin-bottom: 20px;
}

h3{
    font-size: 40px;
    
}
h3 span{
    font-size: 18px;
}

.card-body1{
    background: #ffffff;
    padding-top: 50px;
    padding-left: 5px;
    padding-right: 5px;
}

.price .btn1{
    margin-top: 20px;
}
.six h2{
    color:#ed145b;
    font-size: 20px;
    text-align: left;
}
.six p{
    color: #8d8d8d;
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;
}
.join{
    background: #ed145b;
    color: #fff;
}
.btn3{
    padding: 15px 50px;
    background: #fff;
    color: #ed145b;
    border: none;
    border-radius: 40px;
    text-transform: uppercase;
}
.latest{
    text-align: center;
}
.text{
    margin-bottom: 40px;
}

.effect{
    height: 100%;
    width: 100%;
    position: relative;
}
.hover{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 500px;
    background: #ed145b;
    opacity: 0.7;
    display: none;
    transition: all 0.2s ease;
}
.fa-search{
    font-size: 50px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}  

.card2:hover .hover{
    left: 0;
    display: block;
}

.card{
    margin-bottom: 20px;
}
.pinkk p{
    text-align: center;
    color: #ed145b;
    font-size: 20px;
}
.fa-chevron-down{
    text-align: center;
    color: #ed145b;
}
.ban{
    background: url(../image/b3.png);
    color: #fff;
    text-align: center;
}
.download{
    text-align: left;
    background: #f4f4f4;
}
.download .bcd{
    margin-left: 0;
}
footer{
    background: #2b2b2b;
    color: white;
    text-align: center;
    padding: 25px 0px;
    font-size: 15px;
}